.App {
  text-align: center;
}

.Title {
  background-color: white;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(18px + 1vmin);
  color: #708DFD;
  padding-left: 20px;
}

.Listing {
  background-color: rgb(203, 201, 201);
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 10px;
  max-height:fit-content;
}

.ItemList {
  min-height: 8vh;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------以下追記 */


.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

.item {
  background: #fff;
  padding: 15px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  text-align: left;
}

span{
  color: black;
}

.group {
  display:inline-block;
  align-items: center;
  width: auto;
}

input {
	color: inherit;
}

.form {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.form .form_input {
	flex: 1 1 100px;
	margin: 10px;
	border: none;
	padding: 15px;
  color: #222427;
	border-radius: 7px;
	background-color: #E6E6E6;
	outline: 3px solid transparent;
	transition: outline .2s, flex-basis .2s;
  width: 300px;
}
.form .form_input:nth-child {
	flex: 3 1 300px;
}

.form .form_input:hover,
.form .form_input:focus {
	outline: 0.3px solid #708DFD; 
}

.form .form_file {
	flex: 1 1 300px;
	margin: 10px;
	border: none;
	padding: 10px;
	border-radius: 7px;
	background-color: #94aeda;
	outline: 3px solid transparent;
	transition: outline .2s, flex-basis .2s;
}
.form .form_filet:nth-child {
	flex: 3 1 300px;
}

.form .form_file:hover,
.form .form_file:focus {
	outline: 0.3px solid #708DFD;
}

.form .form_submit {
	flex: 1 1 100px;
	margin: 7px;
	cursor: pointer;
	border: none;
	padding: 20px;
	border-radius: 30px;
	background-color: #708DFD;
	color: #FFFFFF;
	box-shadow: 0 7px 7px -5px rgba(0,0,0,0.35);
	transition: box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;
  width: auto;
}
.form .form_submit:hover,
.form .form_submit:focus {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.35);
	top: 0;
}
.form .form_submit:focus {
	background-color: #4A65CE;
	outline: 0;
}
.Phone-img {
  height: 320px;
  width: auto;
}
.item-score {
  color: red;
  font: bold, 25px Arial;
}
