.App {
  text-align: center;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title a {
  color: #03045e;
  padding: 0 25px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.Title a:hover {
  background-color: #e5e7eb;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 20px;
  padding: 1rem;
  color: #03045e;
  background-color: white;
  min-height: 5rem;
  border-bottom: #e5e7eb solid 1px;
  box-shadow: #e5e7eb 0px 0px 7px 0px inset;
}

.Listing input[type=text] {
  padding: 0.5rem;
  border: #e5e7eb solid 1px;
  border-radius: 10px;
  margin: .2rem;
  font-size: 1rem;
  color: #03045e;
  background-color: white;
}

.Listing button {
  padding: 0.5rem;
  border: #e5e7eb solid 1px;
  border-radius: 10px;
  margin: .2rem;
  font-size: 1rem;
  color: #03045e;
  background-color: white;
  cursor: pointer;
}

.Listing button:hover {
  background-color: #e5e7eb;
}

.Listing button:active {
  background-color: #e5e7eb;
  translate: translateY(1px);
}

.item-list-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-list-search {
  display: flex;
  align-items: center;
}

.searchbar-input {
  padding: 0.5rem;
  border: #e5e7eb solid 1px;
  border-radius: 10px;
  margin: .2rem;
  font-size: 1rem;
  color: #03045e;
  background-color: white;
}

.searchbar-button {
  padding: 0.6rem;
  border: #e5e7eb solid 1px;
  border-radius: 10px;
  font-size: 1rem;
  color: #03045e;
  background-color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.searchbar-button:hover {
  background-color: #e5e7eb;
}

.select {
  padding: 0.5rem;
  border: #e5e7eb solid 1px;
  border-radius: 10px;
  margin: .2rem;
  font-size: 1rem;
  color: #03045e;
  background-color: white;
  position: relative;
  cursor: pointer;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.AllItems {
  margin-top: 5rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-items: center;
  border-radius: 10px;
}

.ItemList {
  background-color: white;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: .8rem;
  color: black;
  line-height: 1.5;
}

.ItemImage {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  border: 1px solid black;
  object-fit: cover;
}

.item {
  display: flex;
  flex-direction: column;
}

.tag {
  font-size: x-small;
  background-color: lightgray;
  color: white;
  padding: .15rem;
  border-radius: 5px;
  margin-right: .5rem;
  width: fit-content;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
